*,
::before,
::after {
    box-sizing: border-box;
}

/*html {
    font-size: 62.5%;
}*/

body {
    /*font-size: 1.6rem;*/
    font: var(--ts-normal-text);
    background-color: var(--clr-background);
    color: var(--clr-font);
}

.container {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 30px;
    margin: 1rem;
}